@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gris */
  border-radius: 9999px;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #374151; /* gris oscuro */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #22c55e; /* verde */
}